<script>
  (function () {
    if (WebSocket) {
      function initSocket () {
        var socket = new WebSocket('ws://' + location.host)
        socket.onopen = function (event) {
          socket.onmessage = function (msg) {
            try {
              var data = JSON.parse(msg.data)
            } catch (e) {

            }
            if (!data) return
            if (data._cmd === 'reload') {
              if (window) {
                window.location.reload()
              }
            }
          }
        }

        socket.onclose = function (event) {
          setTimeout(initSocket, 5000)
        }

        socket.onerror = function (event) {
        }
      }
      initSocket()
    }
    if (window) {
      window.addEventListener('error', handleError)
      function handleError(e) {
        if (!e) return
        var obj = {
          href: location.href,
          UA: navigator.userAgent,
          message: e.message,
          source: e.source,
          lineno: e.lineno,
          colno: e.colno
        }
        setTimeout(function () {
          if ($ && $.ajax) {
            $.ajax({
              url: 'http://<%= ip + ':' + managePort %>/error/upload',
              type: 'POST',
              data: obj
            })
          }
        }, 0)
      }
    }

    window.mockerDebug = function (data) {
      if (typeof data !== 'object') data = {data: data}
      setTimeout(function () {
        if ($ && $.ajax) {
          $.ajax({
            url: 'http://<%= ip + ':' + managePort %>/error/upload',
            type: 'POST',
            data: data
          })
        }
      }, 0)
    }
  })()
</script>